@import url('https://fonts.googleapis.com/css?family=Arvo');
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
	user-select: none;
}
.raffle-roller {
    height: 100px;
    position: absolute;
    width: 900px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
body:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
  
    display: block;
	background-image: url('./img/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: -1%;
    left: -1%;
    width: 110%;
    height: 110%;
  
    filter: blur(10px);
  }
.raffle-roller-holder {
    	position: absolute;
    	top: 0;
    	left: 0;
    	right: 0;
    	bottom: 0;
    	height: 100px;
    	width: 100%;
}
.raffle-roller-holder {
    	overflow: hidden;
    	border-radius: 2px;
	border: 1px solid #3c3759;
}
.raffle-roller-holder {
    	position: absolute;
    	top: 0;
    	left: 0;
    	right: 0;
    	bottom: 0;
    	height: 100px;
    	width: 100%;
}
.raffle-roller-container {
    	width: 9999999999999999999px;
    	max-width: 999999999999999999px;
    	height: 150px;
    	background: rgba(26,26,26, 0.7);
    	margin-left: 0;
    	transition: all 8s cubic-bezier(.08,.6,0,1);
}
.raffle-roller-holder:before {
	content: "";
	position: absolute;
	border: none;
	z-index: 12222225;
	width: 5px;
	height: 100%;
	left: 50%;
	background: rgba(26,26,26, 0.7);
}
.item {
	display: inline-block;
	float: left;
	margin: 4px 0px 0.5px 5px;
    width: 85px;
	height: 88px;
	background: #14202b;
	background-size: 75%;
   	background-repeat: no-repeat;
    	background-position: center;
}
.class_common_item {
    border: 0.2px solid #696b6e;
	border-bottom: 2px solid #696b6e;
}
.class_rare_item {
    border: 0.2px solid #2662bd;
	border-bottom: 2px solid #2662bd;
}
.class_epic_item {
    border: 0.2px solid #80196e;
	border-bottom: 2px solid #80196e;
}
.class_legendary_item {
    border: 0.2px solid #f5e216;
	border-bottom: 2px solid #f5e216;
}
img {
	border: 0;
	vertical-align: middle;
}
.winning-item {
	position: relative;
	top: -1px;
    border-bottom: 2px solid #66b233;
}